<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fancy Self Assured Jackal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./pricing14.css" rel="stylesheet" />
      <div class="pricing14-pricing23 thq-section-padding">
        <div class="pricing14-max-width thq-section-max-width">
          <div class="pricing14-section-title">
            <span>
              <fragment class="pricing14-fragment04">
                <span class="pricing14-text059 thq-body-small">
                  Choose the perfect plan for you
                </span>
              </fragment>
            </span>
            <div class="pricing14-content">
              <h2>
                <fragment class="pricing14-fragment40">
                  <h2 class="pricing14-text097 thq-heading-2">Pricing plan</h2>
                </fragment>
              </h2>
              <p>
                <fragment class="pricing14-fragment21"></fragment>
              </p>
              <p class="pricing14-text076 thq-body-large">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </span>
                <span></span>
              </p>

              <p></p>
            </div>
          </div>
          <div class="pricing14-tabs">
            <button
              class="pricing14-button thq-button-filled thq-button-animated"
            >
              <span class="thq-body-small">Monthly</span>
            </button>
            <button
              class="pricing14-button01 thq-button-outline thq-button-animated"
            >
              <span class="thq-body-small">Monthly</span>
            </button>
            <button
              class="pricing14-button02 thq-button-filled thq-button-animated"
            >
              <span class="thq-body-small">Yearly</span>
            </button>
            <button
              class="pricing14-button03 thq-button-outline thq-button-animated"
            >
              <span class="thq-body-small">Yearly</span>
            </button>
          </div>
          <div class="pricing14-container">
            <div class="pricing14-column thq-card">
              <div class="pricing14-price">
                <div class="pricing14-price01">
                  <p>
                    <fragment class="pricing14-fragment39"></fragment>
                  </p>
                  <p class="pricing14-text096 thq-body-large">Basic plan</p>

                  <p></p>
                  <h3>
                    <fragment class="pricing14-fragment22">
                      <h3 class="pricing14-text079 thq-heading-3">$50</h3>
                    </fragment>
                  </h3>
                  <p>
                    <fragment class="pricing14-fragment48"></fragment>
                  </p>
                  <p class="pricing14-text105 thq-body-large">$500</p>

                  <p></p>
                </div>
                <div class="pricing14-list">
                  <div class="pricing14-list-item">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment24">
                        <span class="pricing14-text081 thq-body-small">
                          Access to all course materials
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item01">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment38">
                        <span class="pricing14-text095 thq-body-small">
                          Weekly live Q&amp;A sessions with Rom Medina
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item02">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment49">
                        <span class="pricing14-text106 thq-body-small">
                          Personalized feedback on assignments
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing14-button04 thq-button-outline thq-button-animated"
              >
                <span>
                  <fragment class="pricing14-fragment41">
                    <span class="pricing14-text098 thq-body-small">
                      Enroll Now
                    </span>
                  </fragment>
                </span>
              </button>
            </div>
            <div class="pricing14-column1 thq-card">
              <div class="pricing14-price02">
                <div class="pricing14-price03">
                  <p>
                    <fragment class="pricing14-fragment05"></fragment>
                  </p>
                  <p class="pricing14-text060 thq-body-large">Business plan</p>

                  <p></p>
                  <h3>
                    <fragment class="pricing14-fragment30">
                      <h3 class="pricing14-text087 thq-heading-3">$80</h3>
                    </fragment>
                  </h3>
                  <p>
                    <fragment class="pricing14-fragment46"></fragment>
                  </p>
                  <p class="pricing14-text103 thq-body-large">$800</p>

                  <p></p>
                </div>
                <div class="pricing14-list1">
                  <div class="pricing14-list-item03">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment15">
                        <span class="pricing14-text070 thq-body-small">
                          Everything in Plan 1, plus:
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item04">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment">
                        <span class="pricing14-text055 thq-body-small">
                          One-on-one tutoring sessions with Rom Medina
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item05">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment32">
                        <span class="pricing14-text089 thq-body-small">
                          Priority email support
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item06">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment37">
                        <span class="pricing14-text094 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing14-button05 thq-button-filled thq-button-animated"
              >
                <span>
                  <fragment class="pricing14-fragment08">
                    <span class="pricing14-text063 thq-body-small">
                      Enroll Now
                    </span>
                  </fragment>
                </span>
              </button>
            </div>
            <div class="pricing14-column2 thq-card">
              <div class="pricing14-price04">
                <div class="pricing14-price05">
                  <p>
                    <fragment class="pricing14-fragment42"></fragment>
                  </p>
                  <p class="pricing14-text099 thq-body-large">
                    Enterprise plan
                  </p>

                  <p></p>
                  <h3>
                    <fragment class="pricing14-fragment09">
                      <h3 class="pricing14-text064 thq-heading-3">$120</h3>
                    </fragment>
                  </h3>
                  <p>
                    <fragment class="pricing14-fragment23"></fragment>
                  </p>
                  <p class="pricing14-text080 thq-body-large">$1200</p>

                  <p></p>
                </div>
                <div class="pricing14-list2">
                  <div class="pricing14-list-item07">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment03">
                        <span class="pricing14-text058 thq-body-small">
                          Everything in Plan 2, plus:
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item08">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment44">
                        <span class="pricing14-text101 thq-body-small">
                          Customized study plan
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item09">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment07">
                        <span class="pricing14-text062 thq-body-small">
                          Mock exams and performance analysis
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item10">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment27">
                        <span class="pricing14-text084 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item11">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment25">
                        <span class="pricing14-text082 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing14-button06 thq-button-filled thq-button-animated"
              >
                <span>
                  <fragment class="pricing14-fragment02">
                    <span class="pricing14-text057 thq-body-small">
                      Enroll Now
                    </span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
          <div class="pricing14-container1">
            <div class="pricing14-column3 thq-card">
              <div class="pricing14-price06">
                <div class="pricing14-price07">
                  <span>
                    <fragment class="pricing14-fragment06">
                      <span class="pricing14-text061 thq-body-large">
                        Basic plan
                      </span>
                    </fragment>
                  </span>
                  <h3>
                    <fragment class="pricing14-fragment34">
                      <h3 class="pricing14-text091 thq-heading-3">$200/yr</h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="pricing14-fragment36">
                      <span class="pricing14-text093 thq-body-large">
                        or $20 monthly
                      </span>
                    </fragment>
                  </span>
                </div>
                <div class="pricing14-list3">
                  <div class="pricing14-list-item12">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment33">
                        <span class="pricing14-text090 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item13">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment47">
                        <span class="pricing14-text104 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item14">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment11">
                        <span class="pricing14-text066 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing14-button07 thq-button-outline thq-button-animated"
              >
                <span>
                  <fragment class="pricing14-fragment20">
                    <span class="pricing14-text075 thq-body-small">
                      Get started
                    </span>
                  </fragment>
                </span>
              </button>
            </div>
            <div class="pricing14-column4 thq-card">
              <div class="pricing14-price08">
                <div class="pricing14-price09">
                  <span>
                    <fragment class="pricing14-fragment26">
                      <span class="pricing14-text083 thq-body-large">
                        Business plan
                      </span>
                    </fragment>
                  </span>
                  <h3>
                    <fragment class="pricing14-fragment17">
                      <h3 class="pricing14-text072 thq-heading-3">$299/yr</h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="pricing14-fragment16">
                      <span class="pricing14-text071 thq-body-large">
                        or $29 monthly
                      </span>
                    </fragment>
                  </span>
                </div>
                <div class="pricing14-list4">
                  <div class="pricing14-list-item15">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment14">
                        <span class="pricing14-text069 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item16">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment13">
                        <span class="pricing14-text068 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item17">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment45">
                        <span class="pricing14-text102 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item18">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment29">
                        <span class="pricing14-text086 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing14-button08 thq-button-filled thq-button-animated"
              >
                <span>
                  <fragment class="pricing14-fragment18">
                    <span class="pricing14-text073 thq-body-small">
                      Get started
                    </span>
                  </fragment>
                </span>
              </button>
            </div>
            <div class="pricing14-column5 thq-card">
              <div class="pricing14-price10">
                <div class="pricing14-price11">
                  <span>
                    <fragment class="pricing14-fragment12">
                      <span class="pricing14-text067 thq-body-large">
                        Enterprise plan
                      </span>
                    </fragment>
                  </span>
                  <h3>
                    <fragment class="pricing14-fragment50">
                      <h3 class="pricing14-text107 thq-heading-3">$499/yr</h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="pricing14-fragment19">
                      <span class="pricing14-text074 thq-body-large">
                        or $49 monthly
                      </span>
                    </fragment>
                  </span>
                </div>
                <div class="pricing14-list5">
                  <div class="pricing14-list-item19">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment10">
                        <span class="pricing14-text065 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item20">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment01">
                        <span class="pricing14-text056 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item21">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment31">
                        <span class="pricing14-text088 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item22">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment43">
                        <span class="pricing14-text100 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="pricing14-list-item23">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing14-fragment28">
                        <span class="pricing14-text085 thq-body-small">
                          Feature text goes here
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
              </div>
              <button
                class="pricing14-button09 thq-button-filled thq-button-animated"
              >
                <span>
                  <fragment class="pricing14-fragment35">
                    <span class="pricing14-text092 thq-body-small">
                      Get started
                    </span>
                  </fragment>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
