<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fancy Self Assured Jackal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimonial17.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="testimonial17-max-width thq-section-max-width">
          <div class="testimonial17-container">
            <h2>
              <fragment class="testimonial17-fragment01">
                <h2 class="testimonial17-text15 thq-heading-2">
                  Student Testimonials
                </h2>
              </fragment>
            </h2>
            <span>
              <fragment class="testimonial17-fragment11">
                <span class="testimonial17-text25 thq-body-small">
                  I highly recommend Rom Medina's courses. They are
                  well-structured, engaging, and have helped me improve my
                  skills significantly.
                </span>
              </fragment>
            </span>
          </div>
          <div class="thq-grid-2">
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card">
                  <div class="testimonial17-container02">
                    <img
                      alt="Image of Jessica Smith"
                      src="https://images.unsplash.com/photo-1679562768606-3c09b973a708?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjc5MjEzN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image"
                    />
                    <div class="testimonial17-container03">
                      <strong>
                        <fragment class="testimonial17-fragment08">
                          <strong class="testimonial17-text22 thq-body-large">
                            Jessica Smith
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment05">
                          <span class="testimonial17-text19 thq-body-small">
                            Marketing Manager
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment09">
                      <span class="testimonial17-text23 thq-body-small">
                        Rom's teaching style is excellent, and he provides
                        valuable insights that are applicable in real-world
                        scenarios.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card1">
                  <div class="testimonial17-container04">
                    <img
                      alt="Image of Michael Johnson"
                      src="https://images.unsplash.com/photo-1561063679-f10129304565?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjc5MjEzN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image1"
                    />
                    <div class="testimonial17-container05">
                      <strong>
                        <fragment class="testimonial17-fragment07">
                          <strong class="testimonial17-text21 thq-body-large">
                            Michael Johnson
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment04">
                          <span class="testimonial17-text18 thq-body-small">
                            Software Engineer
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment">
                      <span class="testimonial17-text14 thq-body-small">
                        Enrolling in Rom's courses was the best decision I made
                        for my career. The knowledge gained has been invaluable.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card2">
                  <div class="testimonial17-container06">
                    <img
                      alt="Image of Sarah Lee"
                      src="https://images.unsplash.com/photo-1485727749690-d091e8284ef3?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjc5MjEzOHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image2"
                    />
                    <div class="testimonial17-container07">
                      <strong>
                        <fragment class="testimonial17-fragment06">
                          <strong class="testimonial17-text20 thq-body-large">
                            Sarah Lee
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment03">
                          <span class="testimonial17-text17 thq-body-small">
                            Graphic Designer
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment12">
                      <span class="testimonial17-text26 thq-body-small">
                        Rom's courses are not only informative but also
                        inspiring. I have seen a significant improvement in my
                        work since taking them.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card3">
                  <div class="testimonial17-container08">
                    <img
                      alt="Image of David Brown"
                      src="https://images.unsplash.com/photo-1511587477373-0e3e105ed675?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjc5MjEzN3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image3"
                    />
                    <div class="testimonial17-container09">
                      <strong>
                        <fragment class="testimonial17-fragment02">
                          <strong class="testimonial17-text16 thq-body-large">
                            David Brown
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment10">
                          <span class="testimonial17-text24 thq-body-small">
                            Web Developer
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment13">
                      <span class="testimonial17-text27 thq-body-small">
                        I can't thank Rom enough for his dedication to teaching.
                        His courses have truly helped me advance in my career.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
